<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AttendanceService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <AttendanceService.Properties.Settings>
      <setting name="DBUser" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="AttDbUser" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value>MFMLAP</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>HCMOneAV</value>
      </setting>
      <setting name="DBPassword" serializeAs="String">
        <value>super</value>
      </setting>
      <setting name="AttDbServer" serializeAs="String">
        <value>MFMLAP</value>
      </setting>
      <setting name="AttDbDatabase" serializeAs="String">
        <value>ODAttTest</value>
      </setting>
      <setting name="AttDbPassword" serializeAs="String">
        <value>super</value>
      </setting>
      <setting name="LicenseKey" serializeAs="String">
        <value>xeZfqgv6rwVG+4C1QqkuXavYsdgBdA18m5ClcIhQUq7ev5NZvva9wh5QNnlOg3DrWej7iVLrATnRZaBc/S1U2EUpoI+2Ih2MjFwhqXvIEdQi607WVGHXDHz0S2DxhMj26v1WZyEXj/T+kmw3bjqjT5jnJI8hwo8LfVyrPVQjdDw=</value>
      </setting>
    </AttendanceService.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="TelerikWinFormsThemeName" value="Fluent"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
